.wishlist {
    position: fixed;
    top: 0px;
    right: 60px;
    width: 650px;
    height: 100%;
    background-color: #f8f9fa; /* Light grayish background for contrast */
    box-shadow: -5px 0px 15px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out;
    overflow-y: auto;
    padding: 20px;
  }
  
  .wishlist h2 {
    font-family: sans-serif;
    font-size: 26px;
    color: #333;
    margin-bottom: 20px;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 10px;
  }
  
  .wishlist ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .wishlist-item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding: 15px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  }
  
  .wishlist-item:hover {
    transform: translateY(-5px);
  }
  
  .image {
    max-width: 180px;
    max-height: 180px;
    margin-right: 20px;
    border-radius: 8px;
  }
  
  .item-details {
    flex: 1;
  }
  
  .item-details h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: black;
  }
  
  .item-details p {
    font-size: 16px;
    margin-bottom: 15px;
    color: black;
  }
  
  .remove-btn {
    padding: 10px 15px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .remove-btn:hover {
    background-color: #e33c3c;
  }
 